<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  <h4>Title</h4>
  <h5>Authors: </h5>
  <h5>Template: </h5>
<div class="col-6">
  <ng-container class="module" *ngFor="let module of modules;">
    <label for="moduleType">Module Type</label>
    <select class="form-control" id="moduleType" [(ngModel)]="newModule.type">
      <ng-container *ngFor="let level of moduleTypes">
        <option [value]="level" > {{ level }}</option>
      </ng-container>
    </select>
    <div class="module-body" [ngSwitch]="type">
      <ng-container *ngSwitchCase="'Image'">
         <image-module></image-module>
      </ng-container>
      <ng-container *ngSwitchCase="'Table'">
         <table-generator></table-generator>
      </ng-container>
      <ng-container *ngSwitchCase="'Text'">
         <text-module></text-module>
      </ng-container>
    </div>
  </ng-container>

  <div class="d-flex mb-2">
    <h4 class="pt-3"></h4>
    <button class="btn btn-primary ml-md-auto" (click)="addModule()">
      <h6 class="adjust-up d-inlinea" >Add New Module
      <i class="material-icons adjust-down">add_circle_outline</i></h6>
    </button>
  </div>

</div>
</div>
