<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<account-nav></account-nav>

<div class="main-container-custom">
    <div class="container-fluid pt-4">
        <div class="container col-8 bg-white rounded p-4">
            <h4 class="text-center">{{lab.title}}</h4>

            <h5 class="text-center">Template: </h5>
            <ng-container class="module mx-auto d-block" *ngFor="let module of modules; let i = index;">
                <a href="javascript:void(0);" class="text-danger close-icon float-right" (click)="removeModule(i)"><i class="material-icons">remove_circle</i></a>
                <lab-module [module]="module"></lab-module>
                <div class="d-flex mb-2">
                    <h4 class="pt-3"></h4>
                </div>
                <hr>
            </ng-container>

            <button class="btn btn-info float-right" (click)="addModule()">
                <h6 class="adjust-up d-inline">Add New Module
                <i class="material-icons adjust-down">add_circle_outline</i></h6>
            </button>
            <div class="spacer-custom clearfix my-1"></div>
            <button class="btn btn-success float-right" (click)="save()">
                <span class="my-2 py-2">Save Report</span>
            </button>
            <div class="spacer-custom clearfix"></div>
        </div>
    </div>
    <div class="m-3 spacer-custom clearfix"></div>
</div>
