.collapse {
  margin-bottom: -1px;
}

a {
  color: #15F;
}

a:hover {
  color: #026;
}

.adjust-up {
  position: relative;
  bottom: 0.24em;
}

.adjust-down {
  position: relative;
  top: 0.2em;
}

.module {
  border: 1px;
  background-color:
}

.main-container-custom {
  min-height: 100%;
  background-color: #EEE;
}

.spacer-custom {
  height: 3em;
}

.close-icon::hover {
  color: #f00 !important;
}