#loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.jumbotron {
    border: 2em;
    width: 40em;
    margin: auto;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

a:hover {
    text-decoration: none;
}