<div class="d-flex flex-column" id="loginContainer">
    <div class="jumbotron">
        <h1>New User</h1>
        <br>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" [(ngModel)]="newUser.email">
        </div>
        <br>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="newUser.userName">
        </div>
        <br>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" [(ngModel)]="newUser.password">
        </div>
        <br>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Confirm Password" aria-label="ConfirmPassword" aria-describedby="basic-addon1">
        </div>
        <br>

        <p class="lead float-right">
            <a class="btn btn-primary btn-lg" href="#" role="button" (click)="addUser()">Create Account</a>
        </p>
        <div>
            <form #f="ngForm">
                <input type="radio" value="0" name="studentTeacher" [(ngModel)]="newUser.type" required #genderControl="ngModel"> Student
                <input type="radio" value="1" name="studentTeacher" [(ngModel)]="newUser.type" required> Teacher
            </form>
        </div>
        <div>
            <p id="existingAccount">Already have an account? <a href="#">Log in</a></p>
        </div>
        <!-- <input type="checkbox" name="my-checkbox" checked> -->
    </div>
    <div>
        <p>Type: {{newUser.type}}</p>
    </div>
</div>