.collapse {
  margin-bottom: -1px;
}

a {
  color: #15F;
}

a:hover {
  color: #026;
}

.adj-1 {
  position: relative;
  bottom: 0.24em;
}

.adj-2 {
  position: relative;
  top: 0.08em;
}

.adj-3 {
  position: relative;
  left: 0.06em;
}

.adj-4 {
  position: relative;
  top: 0.1em;
}