<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<account-nav></account-nav>

<div class="container col-9 d-flex">
  <div class="flex-column mx-auto col-6">
    <div class="mb-2 d-flex justify-content-between">
      <div class="pt-4 font-weight-500 header-custom">Courses</div>
      <button class="btn btn-info ml-md-auto" data-toggle="modal" data-target="#addModal">
        <span class="adj-1 adj-3 d-inline">Create/Enroll</span>
        <i class="material-icons adj-2">add_circle_outline</i>
      </button>
    </div>

    <ul class="list-group mb-0">
      <li class="list-group-item bg-light clearfix" *ngFor="let course of courseNames; let i = index;">
        <a href="#" class="text-info-custom">
          {{course}}
        <i class="material-icons d-inline float-right text-info">chevron_right</i>
        </a>
      </li>
    </ul>
  </div>

  <div class="flex-column mx-auto col-6">
    <div class="mb-2 d-flex justify-content-between">
      <div class="pt-4 font-weight-500 header-custom">Templates</div>
      <button class="btn btn-info ml-md-auto" data-toggle="modal" data-target="#addModal">
        <span class="adj-1 adj-3 d-inline">Create</span>
        <i class="material-icons adj-2">add_circle_outline</i>
      </button>
    </div>

    <ul class="list-group mb-0">
      <li class="list-group-item bg-light clearfix" *ngFor="let template of templateNames; let i = index;">
        <a href="#" class="text-info-custom">
          {{template}}
        </a>
        <a href="#">
          <i class="material-icons d-inline float-right text-info pl-2">close</i>
        </a>
        <a href="#">
          <i class="material-icons d-inline float-right text-info">insert_drive_file</i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <input type="text"
         class="form-control"
         placeholder="Template Name"
         [(ngModel)]="newTemplateName" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="addTemplateName()" [disabled]="!newTemplateName" onclick="$('#addModal').modal('hide')">Add Template</button>
      </div>
    </div>

</div>

<div>
    <button type="button" class="btn btn-info" (click)="createCourse()">Add Course</button>
</div>
<div>
    <button type="button" class="btn btn-info" (click)="deleteCourse()">Delete Course</button>
</div>