.collapse {
  margin-bottom: -1px;
}

a {
  color: #15F;
}

a:hover {
  color: #026;
}

.adj-1 {
  position: relative;
  bottom: 0.24em;
}

.adj-2 {
  position: relative;
  top: 0.08em;
}

.adj-3 {
  position: relative;
  left: 0.06em;
}

.adj-4 {
  position: relative;
  top: 0.1em;
}

.adj-5 {
  padding-top: 0.475rem;
}

.text-info-custom {
  color: rgb(18,135,165);
}

.text-info-custom:hover {
  color: rgb(100,165,200);
}

.header-custom {
  font-size: 1.15em;
}

.font-weight-500 {
  font-weight: 500;
}

.remove-icon:hover {
  color: #EE5858 !important;
}

.enroll-button {
  border-width: 1.8px;
  margin: -1rem 0;
  font-weight: 500;
}

.enroll-button-transform:hover span {
  display: none;
}

.enroll-button-transform:hover {
  background-color: rgb(220,53,69);
  border-color: rgb(220,53,69);
}

.enroll-button-transform:hover:before {
  content: "Drop";
}

.btn-custom {
  padding-right: 0.48rem;
}