<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

<div class="bg-container">
    <img [src]="'src/images/background.jpg'" alt="background" class="bg" />
</div>

<div class="d-flex flex-column mt-3" id="loginContainer">
    <div class="jumbotron-custom border border-info rounded bg-white-custom thick-border pb-2">
        <div class="header-custom">Log In</div>
        <br><form (ngSubmit)="login()" #loginForm="ngForm">
            <div class="form-group my-3">
                <label for="email">Email</label>
                <input id="email" type="email" name="Email" class="form-control text-input" [(ngModel)]="loginAttempt.email" pattern="[\w.]+[@]\w+[.][\w.]+" required #email="ngModel">
                <div [hidden]="email.valid || !email.touched"
                    class="alert alert-danger">
                    Please enter a valid email.
                </div>
            </div>

            <div class="form-group my-3">
                <label for="password">Password</label>
                <input id="password" type="password" name="Password" class="form-control text-input" [(ngModel)]="loginAttempt.password" pattern="[.\S]{6,}" required #password="ngModel">
                <div [hidden]="password.valid || !password.touched "
                    class="alert alert-danger">
                    Passwords are at least 6 characters.
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div id="newAccount" class="alert alert-custom mb-0">Need an account? <a href routerLink="/newlogin" class="text-info">Create one</a>.</div>
                <button type="submit" class="btn btn-info btn-lg link-custom text-white d-inline-block float-right" [disabled]="!loginForm.form.valid">Log In</button>
            </div>
        </form>        
    </div>
</div>