<div class="d-flex flex-column" id="loginContainer">
    <div class="jumbotron">
        <h1>Sign In</h1>
        <br>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <br>
        <p class="lead float-right">
            <a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
        </p>
        <br>
        <p id="newAccount"><a href="#">Create new account</a></p>
    </div>
</div>