<div class="col-10" >
    <label for="moduleType">Module Type</label>
    <select class="form-control" id="moduleType" [(ngModel)]="module.type">
      <ng-container *ngFor="let level of moduleTypes">
        <option [value]="level" > {{ level }}</option>
      </ng-container>
    </select>
    <div class="module-body" [ngSwitch]="module.type">
      <ng-container *ngSwitchCase="'Image'">
         <image-module [data]="module.data"></image-module>
      </ng-container>
      <ng-container *ngSwitchCase="'Table'">
         <table-generator [data]="module.data"></table-generator>
      </ng-container>
      <ng-container *ngSwitchDefault>
         <text-module [module]="module"></text-module>
      </ng-container>
    </div>
</div>
