<div class="container">
<div class="col-4">
  <h5 class="pl-2">Lab Directory</h5>
  <ul class="list-group">
    <li class="list-group-item bg-light">
      <a href="#" data-toggle="collapse" href="#folder1" aria-expanded="false" aria-controls="folder1">
        Folder 1
        <span class="float-right glyphicon glyphicon-chevron-down"></span>
      </a>
    </li>
    <div class="collapse" id="folder1">
      <div class="list-group-item bg-light">
        <ul class="list-group mb-0">
          <li class="list-group-item bg-light">
            <a href="#">
              File 1
              <span class="glyphicon glyphicon-file float-right"></span>
            </a>
          </li>
          <li class="list-group-item bg-light">
            <a href="#">
              File 2
              <span class="glyphicon glyphicon-file float-right"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <li class="list-group-item bg-light">
      <a href="#" data-toggle="collapse" href="#folder2" aria-expanded="false" aria-controls="folder2">
        Folder 2
        <span class="float-right glyphicon glyphicon-chevron-down"></span>
      </a>
    </li>
    <div class="collapse" id="folder2">
      <div class="list-group-item bg-light">
        <ul class="list-group mb-0">
          <li class="list-group-item bg-light">
            <a href="#">
              File 3
              <span class="glyphicon glyphicon-file float-right"></span>
            </a>
          </li>
          <li class="list-group-item bg-light">
            <a href="#">
              File 4
              <span class="glyphicon glyphicon-file float-right"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <li class="list-group-item bg-light">
      <a href="#" data-toggle="collapse" href="#folder3" aria-expanded="false" aria-controls="folder3">
        Folder 3
        <span class="float-right glyphicon glyphicon-chevron-down"></span>
      </a>
    </li>
    <div class="collapse" id="folder3">
      <div class="list-group-item bg-light">
        <ul class="list-group mb-0">
          <li class="list-group-item bg-light">
            <a href="#">
              File 5
              <span class="glyphicon glyphicon-file float-right"></span>
            </a>
          </li>
          <li class="list-group-item bg-light">
            <a href="#">
              File 6
              <span class="glyphicon glyphicon-file float-right"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <li class="list-group-item bg-light">
      <a href="#">
        File 5
        <span class="glyphicon glyphicon-file float-right"></span>
      </a>
    </li>


  </ul>
</div>
</div>