<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="bg-container">
    <img [src]="'src/images/pattern.png'" alt="background" class="bg" />
</div>

<div class="view-div">
    <account-nav></account-nav>
    <div class="container col-6 pt-5 px-5 main-container bg-white">
        <h4 class="pb-3 px-5"><i class="material-icons d-inline adj-1">settings</i> Account Settings</h4>
        <hr>
        <form (ngSubmit)="save()" #settingsForm="ngForm">
            <div class="form-group d-flex align-items-stretch px-5">
                <div class="flex-column form-column pr-1">
                    <label for="first_name">First Name</label>
                    <input id="first_name" type="text" name="First Name" class="form-control text-input" [(ngModel)]="updatedUser.first_name" required #first_name="ngModel">
                    <div [hidden]="first_name.valid || first_name.pristine" class="alert alert-danger">
                        Please enter a first name.
                    </div>
                </div>

                <div class="flex-column form-column pl-1">
                    <label for="last_name">Last Name</label>
                    <input id="last_name" type="text" name="Last Name" class="form-control text-input" [(ngModel)]="updatedUser.last_name" required #last_name="ngModel">
                    <div [hidden]="last_name.valid || last_name.pristine" class="alert alert-danger">
                        Please enter a last name.
                    </div>
                </div>
            </div>
            <div class="form-group my-3 px-5">
                <label for="email">Email</label>
                <input id="email" type="email" name="Email" class="form-control text-input" [(ngModel)]="updatedUser.email" pattern="[\w.]+[@]\w+[.][\w.]+" required #email="ngModel">
                <div [hidden]="email.valid || !email.touched" class="alert alert-danger">
                    Please enter a valid email.
                </div>
            </div>

            <div class="form-group my-3 px-5">
                <label for="password">Password</label>
                <input id="password" type="password" name="Password" class="form-control text-input" [(ngModel)]="updatedUser.password" pattern="[.\S]{6,}" required #password="ngModel">
                <div [hidden]="password.valid || !password.touched" class="alert alert-danger">
                    Please enter a password of at least 6 characters.
                </div>
            </div>
            <hr>
            <div id="settings-delete" class="ml-5 d-block">
                <button class="btn btn-danger d-inline" (click)="deleteUser()">
                    Delete This Account
                </button>
                <span class="ml-3 mt-2">This will delete <strong>all</strong> of your data and files.</span>
            </div>
            <hr>
            <button type="submit" class="btn btn-info link-custom text-white d-inline-block float-right mr-5" [disabled]="!settingsForm.form.valid">Save Changes</button>
            <button class="btn btn-secondary d-inline-block float-right mr-1" type="button" (click)="cancel()">Cancel</button>
        </form>

        <div class="footer bg-light">
            <p class="float-right text-secondary m-3"> ® Modulab Inc., 2017. {{ enrolledCourses | json }}</p>
        </div>
    </div>
</div>