<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<account-nav></account-nav>

<div class="container col-6">
    <h4><i class="material-icons d-inline adj-1 pb-3">settings</i> Account Settings</h4>
    <hr>
    <div class="col-6 pl-2">
        <!--Add Labels to these Things-->
        <div>
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="{{this.userManager.user.first_name}}" aria-label="Firstname" aria-describedby="basic-addon1">
        </div>
        <br>
        <div>
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="{{this.userManager.user.last_name}}" aria-label="Lastname" aria-describedby="basic-addon1">
        </div>
        <br>
        <div>
            <label>Email</label>
            <input type="text" class="form-control" placeholder="{{this.userManager.user.email}}" aria-label="Email" aria-describedby="basic-addon1">
        </div>
        <br>
        <div>
            <label>Password</label>
            <input type="text" class="form-control" placeholder="{{this.userManager.user.password}}" aria-label="Password" aria-describedby="basic-addon1">
        </div>
    </div>
    <hr>
    <div id="settings-delete d-inline m-auto" class="">
        <button class="btn btn-danger d-inline" (click)="deleteUser()">
      Delete This Account
    </button>
        <span class="ml-3">This will delete <strong>all</strong> of your data and files.</span>
    </div>
    <hr>
    <div id="settings-save" class="clearfix" (click)="updateUser()">
        <button class="btn btn-info float-right">
      Save Changes
    </button>
    </div>
</div>