.adj-1 {
  position: relative;
  top: 0.2rem;
}

.label-custom {
  font-weight: 500;
}

.double-layer {
  height: 2.33rem;
}

.adj-2 {
  position: relative;
  top: -.9rem;
}

.form-column {
  width: 50%;
}

label {
  font-weight: 500;
}

input.text-input {
  border-radius: 0;
  border: 1px solid rgba(0,0,0,0.1);
}

.ng-valid[required], .ng-valid.required  {
  border-bottom: 2px solid rgb(40,167,69);
}

#existingAccount {
  width: fit-content;
}

.bg-container {
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(92, 55, 74);
}

.main-container {
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.view-div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#settings-delete {
  width: fit-content;
}

.footer {
    position: absolute;
    margin-left: -3rem;
    height: 3.5rem;
    bottom: 4.2rem;
    width: 100%;
    border-top: 1px solid #EEE;
}