#loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50%;
}

.jumbotron {
    border: 2em;
    width: 40em;
    margin: auto;
    padding: 2rem;
}

a:hover {
    text-decoration: none;
}