<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header class="navbar navbar-info bg-info py-1 flex-column flex-md-row">
  <div class="navbar-brand flex-row pl-3">
    <h4 class="text-white pt-2">Modulab</h4>
  </div>
  <ul class="navbar-nav flex-row ml-md-auto">
    <li class="nav-item">
      <a class="nav-link active" href="#">Directory</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dummy Option</a>
    </li>
    <li class="nav-item">
      <a class="nav-link constant" href="#">Sign In</a>
    </li>
  </ul>
</header>